In [5]:
a='34.54'
id(a)

2098079264560

In [6]:
type(a)

str

In [7]:
a=18
id(a)

2097993837392

In [8]:
import numpy as np

In [9]:
import sys

In [10]:
l1=range(1000)

In [11]:
print(len(l1)*sys.getsizeof(5))

28000

In [12]:
a1=np.arange(1000)

In [13]:
print(a1.size*a1.itemsize)

4000

In [14]:
size=1000
l1=range(size)
l2=range(size)

In [15]:
a1=np.arange(size)
a2=np.arange(size)

In [16]:
import time

In [23]:
start=time.time()
result=[(x+y) for x,y in zip(l1,l2)]
print("List took:",(time.time()-start)*1000)

List took: 0.0

In [24]:
start=time.time()
result=[(x,y) for x,y in zip(l1,l2)]
print("List took:",(time.time()-start)*1000)

List took: 0.9908676147460938

In [25]:
start=time.time()
result=a1+a2
print("Ndarray:",(time.time()-start)*1000)

Ndarray: 0.0

In [26]:
#Numpy

In [29]:
l1=[1,2,3,4,5]
print(l1)
print(type(l1))

[1, 2, 3, 4, 5]
<class 'list'>

In [32]:
a=np.asarray(l1)
a

array([1, 2, 3, 4, 5])

In [33]:
type(a)

numpy.ndarray

In [35]:
b=np.array([10,20,30,40,50])
b.ndim

1

In [36]:
b.shape

(5,)

In [38]:
b.itemsize #size of itmes here  interger

4

In [39]:
b.size #no of elements in the array

5

In [40]:
b.dtype

dtype('int32')

In [41]:
a2=np.array([1,2,3,4,5],dtype=np.float64)

In [42]:
a2

array([1., 2., 3., 4., 5.])

In [43]:
arr=np.array([10,20,30,40,50])
print(arr.dtype)
float_arr=arr.astype(np.float64)
print(arr.dtype)

int32
int32

In [45]:
np.zeros((2,2))

array([[0., 0.],
       [0., 0.]])

In [48]:
np.random.random((3,5))

array([[0.16357358, 0.77845611, 0.31027843, 0.36346154, 0.5917066 ],
       [0.12677563, 0.36948728, 0.54549344, 0.54228381, 0.11847205],
       [0.70551262, 0.7054853 , 0.49218432, 0.31551188, 0.73347318]])

In [50]:
np.random.randn(1,2)

array([[-0.46031934,  0.14549417]])

In [52]:
c=np.random.choice(('a','b','c'))
c

'b'

In [54]:
a3=np.linspace(1,2,1000)
a3

array([1.        , 1.001001  , 1.002002  , 1.003003  , 1.004004  ,
       1.00500501, 1.00600601, 1.00700701, 1.00800801, 1.00900901,
       1.01001001, 1.01101101, 1.01201201, 1.01301301, 1.01401401,
       1.01501502, 1.01601602, 1.01701702, 1.01801802, 1.01901902,
       1.02002002, 1.02102102, 1.02202202, 1.02302302, 1.02402402,
       1.02502503, 1.02602603, 1.02702703, 1.02802803, 1.02902903,
       1.03003003, 1.03103103, 1.03203203, 1.03303303, 1.03403403,
       1.03503504, 1.03603604, 1.03703704, 1.03803804, 1.03903904,
       1.04004004, 1.04104104, 1.04204204, 1.04304304, 1.04404404,
       1.04504505, 1.04604605, 1.04704705, 1.04804805, 1.04904905,
       1.05005005, 1.05105105, 1.05205205, 1.05305305, 1.05405405,
       1.05505506, 1.05605606, 1.05705706, 1.05805806, 1.05905906,
       1.06006006, 1.06106106, 1.06206206, 1.06306306, 1.06406406,
       1.06506507, 1.06606607, 1.06706707, 1.06806807, 1.06906907,
       1.07007007, 1.07107107, 1.07207207, 1.07307307, 1.07407407,
       1.07507508, 1.07607608, 1.07707708, 1.07807808, 1.07907908,
       1.08008008, 1.08108108, 1.08208208, 1.08308308, 1.08408408,
       1.08508509, 1.08608609, 1.08708709, 1.08808809, 1.08908909,
       1.09009009, 1.09109109, 1.09209209, 1.09309309, 1.09409409,
       1.0950951 , 1.0960961 , 1.0970971 , 1.0980981 , 1.0990991 ,
       1.1001001 , 1.1011011 , 1.1021021 , 1.1031031 , 1.1041041 ,
       1.10510511, 1.10610611, 1.10710711, 1.10810811, 1.10910911,
       1.11011011, 1.11111111, 1.11211211, 1.11311311, 1.11411411,
       1.11511512, 1.11611612, 1.11711712, 1.11811812, 1.11911912,
       1.12012012, 1.12112112, 1.12212212, 1.12312312, 1.12412412,
       1.12512513, 1.12612613, 1.12712713, 1.12812813, 1.12912913,
       1.13013013, 1.13113113, 1.13213213, 1.13313313, 1.13413413,
       1.13513514, 1.13613614, 1.13713714, 1.13813814, 1.13913914,
       1.14014014, 1.14114114, 1.14214214, 1.14314314, 1.14414414,
       1.14514515, 1.14614615, 1.14714715, 1.14814815, 1.14914915,
       1.15015015, 1.15115115, 1.15215215, 1.15315315, 1.15415415,
       1.15515516, 1.15615616, 1.15715716, 1.15815816, 1.15915916,
       1.16016016, 1.16116116, 1.16216216, 1.16316316, 1.16416416,
       1.16516517, 1.16616617, 1.16716717, 1.16816817, 1.16916917,
       1.17017017, 1.17117117, 1.17217217, 1.17317317, 1.17417417,
       1.17517518, 1.17617618, 1.17717718, 1.17817818, 1.17917918,
       1.18018018, 1.18118118, 1.18218218, 1.18318318, 1.18418418,
       1.18518519, 1.18618619, 1.18718719, 1.18818819, 1.18918919,
       1.19019019, 1.19119119, 1.19219219, 1.19319319, 1.19419419,
       1.1951952 , 1.1961962 , 1.1971972 , 1.1981982 , 1.1991992 ,
       1.2002002 , 1.2012012 , 1.2022022 , 1.2032032 , 1.2042042 ,
       1.20520521, 1.20620621, 1.20720721, 1.20820821, 1.20920921,
       1.21021021, 1.21121121, 1.21221221, 1.21321321, 1.21421421,
       1.21521522, 1.21621622, 1.21721722, 1.21821822, 1.21921922,
       1.22022022, 1.22122122, 1.22222222, 1.22322322, 1.22422422,
       1.22522523, 1.22622623, 1.22722723, 1.22822823, 1.22922923,
       1.23023023, 1.23123123, 1.23223223, 1.23323323, 1.23423423,
       1.23523524, 1.23623624, 1.23723724, 1.23823824, 1.23923924,
       1.24024024, 1.24124124, 1.24224224, 1.24324324, 1.24424424,
       1.24524525, 1.24624625, 1.24724725, 1.24824825, 1.24924925,
       1.25025025, 1.25125125, 1.25225225, 1.25325325, 1.25425425,
       1.25525526, 1.25625626, 1.25725726, 1.25825826, 1.25925926,
       1.26026026, 1.26126126, 1.26226226, 1.26326326, 1.26426426,
       1.26526527, 1.26626627, 1.26726727, 1.26826827, 1.26926927,
       1.27027027, 1.27127127, 1.27227227, 1.27327327, 1.27427427,
       1.27527528, 1.27627628, 1.27727728, 1.27827828, 1.27927928,
       1.28028028, 1.28128128, 1.28228228, 1.28328328, 1.28428428,
       1.28528529, 1.28628629, 1.28728729, 1.28828829, 1.28928929,
       1.29029029, 1.29129129, 1.29229229, 1.29329329, 1.29429429,
       1.2952953 , 1.2962963 , 1.2972973 , 1.2982983 , 1.2992993 ,
       1.3003003 , 1.3013013 , 1.3023023 , 1.3033033 , 1.3043043 ,
       1.30530531, 1.30630631, 1.30730731, 1.30830831, 1.30930931,
       1.31031031, 1.31131131, 1.31231231, 1.31331331, 1.31431431,
       1.31531532, 1.31631632, 1.31731732, 1.31831832, 1.31931932,
       1.32032032, 1.32132132, 1.32232232, 1.32332332, 1.32432432,
       1.32532533, 1.32632633, 1.32732733, 1.32832833, 1.32932933,
       1.33033033, 1.33133133, 1.33233233, 1.33333333, 1.33433433,
       1.33533534, 1.33633634, 1.33733734, 1.33833834, 1.33933934,
       1.34034034, 1.34134134, 1.34234234, 1.34334334, 1.34434434,
       1.34534535, 1.34634635, 1.34734735, 1.34834835, 1.34934935,
       1.35035035, 1.35135135, 1.35235235, 1.35335335, 1.35435435,
       1.35535536, 1.35635636, 1.35735736, 1.35835836, 1.35935936,
       1.36036036, 1.36136136, 1.36236236, 1.36336336, 1.36436436,
       1.36536537, 1.36636637, 1.36736737, 1.36836837, 1.36936937,
       1.37037037, 1.37137137, 1.37237237, 1.37337337, 1.37437437,
       1.37537538, 1.37637638, 1.37737738, 1.37837838, 1.37937938,
       1.38038038, 1.38138138, 1.38238238, 1.38338338, 1.38438438,
       1.38538539, 1.38638639, 1.38738739, 1.38838839, 1.38938939,
       1.39039039, 1.39139139, 1.39239239, 1.39339339, 1.39439439,
       1.3953954 , 1.3963964 , 1.3973974 , 1.3983984 , 1.3993994 ,
       1.4004004 , 1.4014014 , 1.4024024 , 1.4034034 , 1.4044044 ,
       1.40540541, 1.40640641, 1.40740741, 1.40840841, 1.40940941,
       1.41041041, 1.41141141, 1.41241241, 1.41341341, 1.41441441,
       1.41541542, 1.41641642, 1.41741742, 1.41841842, 1.41941942,
       1.42042042, 1.42142142, 1.42242242, 1.42342342, 1.42442442,
       1.42542543, 1.42642643, 1.42742743, 1.42842843, 1.42942943,
       1.43043043, 1.43143143, 1.43243243, 1.43343343, 1.43443443,
       1.43543544, 1.43643644, 1.43743744, 1.43843844, 1.43943944,
       1.44044044, 1.44144144, 1.44244244, 1.44344344, 1.44444444,
       1.44544545, 1.44644645, 1.44744745, 1.44844845, 1.44944945,
       1.45045045, 1.45145145, 1.45245245, 1.45345345, 1.45445445,
       1.45545546, 1.45645646, 1.45745746, 1.45845846, 1.45945946,
       1.46046046, 1.46146146, 1.46246246, 1.46346346, 1.46446446,
       1.46546547, 1.46646647, 1.46746747, 1.46846847, 1.46946947,
       1.47047047, 1.47147147, 1.47247247, 1.47347347, 1.47447447,
       1.47547548, 1.47647648, 1.47747748, 1.47847848, 1.47947948,
       1.48048048, 1.48148148, 1.48248248, 1.48348348, 1.48448448,
       1.48548549, 1.48648649, 1.48748749, 1.48848849, 1.48948949,
       1.49049049, 1.49149149, 1.49249249, 1.49349349, 1.49449449,
       1.4954955 , 1.4964965 , 1.4974975 , 1.4984985 , 1.4994995 ,
       1.5005005 , 1.5015015 , 1.5025025 , 1.5035035 , 1.5045045 ,
       1.50550551, 1.50650651, 1.50750751, 1.50850851, 1.50950951,
       1.51051051, 1.51151151, 1.51251251, 1.51351351, 1.51451451,
       1.51551552, 1.51651652, 1.51751752, 1.51851852, 1.51951952,
       1.52052052, 1.52152152, 1.52252252, 1.52352352, 1.52452452,
       1.52552553, 1.52652653, 1.52752753, 1.52852853, 1.52952953,
       1.53053053, 1.53153153, 1.53253253, 1.53353353, 1.53453453,
       1.53553554, 1.53653654, 1.53753754, 1.53853854, 1.53953954,
       1.54054054, 1.54154154, 1.54254254, 1.54354354, 1.54454454,
       1.54554555, 1.54654655, 1.54754755, 1.54854855, 1.54954955,
       1.55055055, 1.55155155, 1.55255255, 1.55355355, 1.55455455,
       1.55555556, 1.55655656, 1.55755756, 1.55855856, 1.55955956,
       1.56056056, 1.56156156, 1.56256256, 1.56356356, 1.56456456,
       1.56556557, 1.56656657, 1.56756757, 1.56856857, 1.56956957,
       1.57057057, 1.57157157, 1.57257257, 1.57357357, 1.57457457,
       1.57557558, 1.57657658, 1.57757758, 1.57857858, 1.57957958,
       1.58058058, 1.58158158, 1.58258258, 1.58358358, 1.58458458,
       1.58558559, 1.58658659, 1.58758759, 1.58858859, 1.58958959,
       1.59059059, 1.59159159, 1.59259259, 1.59359359, 1.59459459,
       1.5955956 , 1.5965966 , 1.5975976 , 1.5985986 , 1.5995996 ,
       1.6006006 , 1.6016016 , 1.6026026 , 1.6036036 , 1.6046046 ,
       1.60560561, 1.60660661, 1.60760761, 1.60860861, 1.60960961,
       1.61061061, 1.61161161, 1.61261261, 1.61361361, 1.61461461,
       1.61561562, 1.61661662, 1.61761762, 1.61861862, 1.61961962,
       1.62062062, 1.62162162, 1.62262262, 1.62362362, 1.62462462,
       1.62562563, 1.62662663, 1.62762763, 1.62862863, 1.62962963,
       1.63063063, 1.63163163, 1.63263263, 1.63363363, 1.63463463,
       1.63563564, 1.63663664, 1.63763764, 1.63863864, 1.63963964,
       1.64064064, 1.64164164, 1.64264264, 1.64364364, 1.64464464,
       1.64564565, 1.64664665, 1.64764765, 1.64864865, 1.64964965,
       1.65065065, 1.65165165, 1.65265265, 1.65365365, 1.65465465,
       1.65565566, 1.65665666, 1.65765766, 1.65865866, 1.65965966,
       1.66066066, 1.66166166, 1.66266266, 1.66366366, 1.66466466,
       1.66566567, 1.66666667, 1.66766767, 1.66866867, 1.66966967,
       1.67067067, 1.67167167, 1.67267267, 1.67367367, 1.67467467,
       1.67567568, 1.67667668, 1.67767768, 1.67867868, 1.67967968,
       1.68068068, 1.68168168, 1.68268268, 1.68368368, 1.68468468,
       1.68568569, 1.68668669, 1.68768769, 1.68868869, 1.68968969,
       1.69069069, 1.69169169, 1.69269269, 1.69369369, 1.69469469,
       1.6956957 , 1.6966967 , 1.6976977 , 1.6986987 , 1.6996997 ,
       1.7007007 , 1.7017017 , 1.7027027 , 1.7037037 , 1.7047047 ,
       1.70570571, 1.70670671, 1.70770771, 1.70870871, 1.70970971,
       1.71071071, 1.71171171, 1.71271271, 1.71371371, 1.71471471,
       1.71571572, 1.71671672, 1.71771772, 1.71871872, 1.71971972,
       1.72072072, 1.72172172, 1.72272272, 1.72372372, 1.72472472,
       1.72572573, 1.72672673, 1.72772773, 1.72872873, 1.72972973,
       1.73073073, 1.73173173, 1.73273273, 1.73373373, 1.73473473,
       1.73573574, 1.73673674, 1.73773774, 1.73873874, 1.73973974,
       1.74074074, 1.74174174, 1.74274274, 1.74374374, 1.74474474,
       1.74574575, 1.74674675, 1.74774775, 1.74874875, 1.74974975,
       1.75075075, 1.75175175, 1.75275275, 1.75375375, 1.75475475,
       1.75575576, 1.75675676, 1.75775776, 1.75875876, 1.75975976,
       1.76076076, 1.76176176, 1.76276276, 1.76376376, 1.76476476,
       1.76576577, 1.76676677, 1.76776777, 1.76876877, 1.76976977,
       1.77077077, 1.77177177, 1.77277277, 1.77377377, 1.77477477,
       1.77577578, 1.77677678, 1.77777778, 1.77877878, 1.77977978,
       1.78078078, 1.78178178, 1.78278278, 1.78378378, 1.78478478,
       1.78578579, 1.78678679, 1.78778779, 1.78878879, 1.78978979,
       1.79079079, 1.79179179, 1.79279279, 1.79379379, 1.79479479,
       1.7957958 , 1.7967968 , 1.7977978 , 1.7987988 , 1.7997998 ,
       1.8008008 , 1.8018018 , 1.8028028 , 1.8038038 , 1.8048048 ,
       1.80580581, 1.80680681, 1.80780781, 1.80880881, 1.80980981,
       1.81081081, 1.81181181, 1.81281281, 1.81381381, 1.81481481,
       1.81581582, 1.81681682, 1.81781782, 1.81881882, 1.81981982,
       1.82082082, 1.82182182, 1.82282282, 1.82382382, 1.82482482,
       1.82582583, 1.82682683, 1.82782783, 1.82882883, 1.82982983,
       1.83083083, 1.83183183, 1.83283283, 1.83383383, 1.83483483,
       1.83583584, 1.83683684, 1.83783784, 1.83883884, 1.83983984,
       1.84084084, 1.84184184, 1.84284284, 1.84384384, 1.84484484,
       1.84584585, 1.84684685, 1.84784785, 1.84884885, 1.84984985,
       1.85085085, 1.85185185, 1.85285285, 1.85385385, 1.85485485,
       1.85585586, 1.85685686, 1.85785786, 1.85885886, 1.85985986,
       1.86086086, 1.86186186, 1.86286286, 1.86386386, 1.86486486,
       1.86586587, 1.86686687, 1.86786787, 1.86886887, 1.86986987,
       1.87087087, 1.87187187, 1.87287287, 1.87387387, 1.87487487,
       1.87587588, 1.87687688, 1.87787788, 1.87887888, 1.87987988,
       1.88088088, 1.88188188, 1.88288288, 1.88388388, 1.88488488,
       1.88588589, 1.88688689, 1.88788789, 1.88888889, 1.88988989,
       1.89089089, 1.89189189, 1.89289289, 1.89389389, 1.89489489,
       1.8958959 , 1.8968969 , 1.8978979 , 1.8988989 , 1.8998999 ,
       1.9009009 , 1.9019019 , 1.9029029 , 1.9039039 , 1.9049049 ,
       1.90590591, 1.90690691, 1.90790791, 1.90890891, 1.90990991,
       1.91091091, 1.91191191, 1.91291291, 1.91391391, 1.91491491,
       1.91591592, 1.91691692, 1.91791792, 1.91891892, 1.91991992,
       1.92092092, 1.92192192, 1.92292292, 1.92392392, 1.92492492,
       1.92592593, 1.92692693, 1.92792793, 1.92892893, 1.92992993,
       1.93093093, 1.93193193, 1.93293293, 1.93393393, 1.93493493,
       1.93593594, 1.93693694, 1.93793794, 1.93893894, 1.93993994,
       1.94094094, 1.94194194, 1.94294294, 1.94394394, 1.94494494,
       1.94594595, 1.94694695, 1.94794795, 1.94894895, 1.94994995,
       1.95095095, 1.95195195, 1.95295295, 1.95395395, 1.95495495,
       1.95595596, 1.95695696, 1.95795796, 1.95895896, 1.95995996,
       1.96096096, 1.96196196, 1.96296296, 1.96396396, 1.96496496,
       1.96596597, 1.96696697, 1.96796797, 1.96896897, 1.96996997,
       1.97097097, 1.97197197, 1.97297297, 1.97397397, 1.97497497,
       1.97597598, 1.97697698, 1.97797798, 1.97897898, 1.97997998,
       1.98098098, 1.98198198, 1.98298298, 1.98398398, 1.98498498,
       1.98598599, 1.98698699, 1.98798799, 1.98898899, 1.98998999,
       1.99099099, 1.99199199, 1.99299299, 1.99399399, 1.99499499,
       1.995996  , 1.996997  , 1.997998  , 1.998999  , 2.        ])

In [55]:
a=np.arange(12)

In [56]:
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [60]:
a=a.reshape((4,3))

In [61]:
a

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [62]:
a=a.ravel() #flattening the array(make it 1D)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [64]:
a.reshape((1,12))

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11]])

In [72]:
a.reshape((4,3))

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [66]:
a.min()

0

In [68]:
a.max()

11

In [69]:
a.sum()

66

In [76]:
a.sum(axis = 0)

66

In [78]:
np.sqrt(a)

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ,
       3.16227766, 3.31662479])

In [79]:
a.mean()

5.5

In [81]:
a.mean()

5.5

In [85]:
a=np.median(a)
a

5.5

In [86]:
a=np.array([1,2,3,4,4,5])
c=np.unique(a)
print(c)

[1 2 3 4 5]

In [87]:
a=np.array([1,2,3,4,5])
print(max(a))
print(np.argmax(a)) #index of highest value

5
4

In [88]:
a.cumsum()

array([ 1,  3,  6, 10, 15], dtype=int32)

In [89]:
a.cumprod()

array([  1,   2,   6,  24, 120], dtype=int32)

In [90]:
a.var()

2.0

In [91]:
a.std()

1.4142135623730951

#Pandas

In [1]:
import pandas as pd
import numpy as np

In [3]:
l1=[1,2,3,4,5,6,7,8,9,10]
s=pd.Series(l1)
s

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [4]:
type(s)

pandas.core.series.Series

In [9]:
s1=pd.Series([100,89,67,23],index=['A','B','C','D'])
print(s1)

A    100
B     89
C     67
D     23
dtype: int64

In [12]:
d={'A':100,'B':89,"C":65,'D':90}
s=pd.Series(d)
s

A    100
B     89
C     65
D     90
dtype: int64

s*3

In [13]:
s*3

A    300
B    267
C    195
D    270
dtype: int64

In [14]:
s>65

A     True
B     True
C    False
D     True
dtype: bool

In [15]:
s.isnull()

A    False
B    False
C    False
D    False
dtype: bool

In [21]:
d=[1,3,4,5,6]
df=pd.DataFrame(d,index=['A','B','C','D','E'])
df

   0
A  1
B  3
C  4
D  5
E  6

In [22]:
items=[["phone",2000],["Tv",1500]]
pdf=pd.DataFrame(items)
pdf

       0     1
0  phone  2000
1     Tv  1500

In [23]:
df=pd.DataFrame(items,index=["Nokia","Apple"],columns=['Item',"Price"])
df

        Item  Price
Nokia  phone   2000
Apple     Tv   1500

In [24]:
#CSV usinf pandas

In [25]:
data=pd.read_csv("Jobsearchdata.csv")
print(data)

                 Name  Age Qualification         Stream      Title  \
0      Neon Prabhakar   22          Bcom       Commerce  Executive
1    R Gopalakrishnan   23           BBA  Administratio  Executive
2         Pratik Kala   22           LLB         Lawyer   Advocate
3         Nanda Kumar   24           BSc       Software  Developer
4           Siju John   25           MCA       Software  Developer
..                ...  ...           ...            ...        ...
83       Jesfy Joseph   24           BSc       Software  Developer
84            Sanulal   25           MCA       Software  Developer
85            Syamlal   27           BBA  Administratio  Executive
86  Sreeram Devarajan   27           MBA  Administratio    Manager
87           Usha Raj   25          MBBS       Medicine     Doctor

    Experience  Salary                                             Adress  \
0            1   12000  East Kadungallur, Near Uc Colleage Desom Ernak...
1            2   12000  Lakshmi Priya 7 / 39 B Muthu Vayal Kizhakkepur...
2            1   13000  Ledu Vilam, Parambil House, Near Kitchen Zaika...
3            3   35000  Munthottu House Vkt Po Tholakkal Kochi Bharath...
4            4   35000  Vidhayathil House Attupuram Airoor Ernakulam A...
..         ...     ...                                                ...
83           3   35000  Parattu House Thuruthu Aluva Aluva Ernakulam 6...
84           4   35000      63/Nandanam Edapali Edapally Ernakulam 682024
85           6   12000  Pattathil Ho Vidyanagar Kadavanthra Kadavantha...
86           6   25000  Kalathilparambil House,Elamakara,Puthukalotam ...
87           4   45000  Vadakedath House,Nethaji Road Aluva Aluva Erna...

   PrefLocation
0     Ernakulam
1     Ernakulam
2     Ernakulam
3      Thrissur
4     Ernakulam
..          ...
83     Thrissur
84     Thrissur
85     Thrissur
86     Thrissur
87     Thrissur

[88 rows x 9 columns]

In [26]:
data.shape

(88, 9)

In [27]:
data.head(10)

,Name,Age,Qualification,Stream,Title,Experience,Salary,Adress,PrefLocation
0,Neon Prabhakar,22,Bcom,Commerce,Executive,1,12000,"East Kadungallur, Near Uc Colleage Desom Ernak...",Ernakulam
1,R Gopalakrishnan,23,BBA,Administratio,Executive,2,12000,Lakshmi Priya 7 / 39 B Muthu Vayal Kizhakkepur...,Ernakulam
2,Pratik Kala,22,LLB,Lawyer,Advocate,1,13000,"Ledu Vilam, Parambil House, Near Kitchen Zaika...",Ernakulam
3,Nanda Kumar,24,BSc,Software,Developer,3,35000,Munthottu House Vkt Po Tholakkal Kochi Bharath...,Thrissur
4,Siju John,25,MCA,Software,Developer,4,35000,Vidhayathil House Attupuram Airoor Ernakulam A...,Ernakulam
5,M K Shaji,27,BBA,Administratio,Executive,6,12000,"Maithala Hoise,Kakkanad,Ekm Kakkanad Ernakulam...",Thrissur
6,Anas,27,MBA,Administratio,Manager,6,25000,Arphampattai House H M T Colony Kalamasheri Er...,Trivandrum
7,Joshy Kuruvila,31,MBBS,Medicine,Doctor,10,100000,"K.M.K Jn, N.Paravur Ezhikkara Ernakulam 683513",Ernakulam
8,Jose Electicvala,29,Diploma,Operator,Supervisor,8,13000,Mg Road Near Shenoy Theatre Ernakulam College ...,Ernakulam
9,Sasna,26,BE,Software,Engineer,5,15000,Triarch Hube Appartment 5 D Kanakerinagar Road...,Calicut

In [28]:
data.tail()

,Name,Age,Qualification,Stream,Title,Experience,Salary,Adress,PrefLocation
83,Jesfy Joseph,24,BSc,Software,Developer,3,35000,Parattu House Thuruthu Aluva Aluva Ernakulam 6...,Thrissur
84,Sanulal,25,MCA,Software,Developer,4,35000,63/Nandanam Edapali Edapally Ernakulam 682024,Thrissur
85,Syamlal,27,BBA,Administratio,Executive,6,12000,Pattathil Ho Vidyanagar Kadavanthra Kadavantha...,Thrissur
86,Sreeram Devarajan,27,MBA,Administratio,Manager,6,25000,"Kalathilparambil House,Elamakara,Puthukalotam ...",Thrissur
87,Usha Raj,25,MBBS,Medicine,Doctor,4,45000,"Vadakedath House,Nethaji Road Aluva Aluva Erna...",Thrissur

In [32]:
data.loc[50]

Name                                                     Dg Prabhu
Age                                                             27
Qualification                                                  MBA
Stream                                               Administratio
Title                                                      Manager
Experience                                                       6
Salary                                                       25000
Adress           Prabhu Nivas,Ripublic Road N.Paravur Ezhikkara...
PrefLocation                                             Ernakulam
Name: 50, dtype: object

In [39]:
x=data.loc[[9,18,27],["Name","Stream","Experience"]] #syntax=data.loc[[rows],[colums]]
print(x)

            Name    Stream  Experience
9          Sasna  Software           5
18  Neetu Satish  Medicine           6
27       Mikhail  Operator           6

In [40]:
data.describe() #description of columns with numerical values

             Age  Experience         Salary
count  88.000000   88.000000      88.000000
mean   24.943182    3.943182   23534.090909
std     2.178041    2.178041   14008.165815
min    21.000000    0.000000    8000.000000
25%    23.000000    2.000000   12000.000000
50%    25.000000    4.000000   25000.000000
75%    27.000000    6.000000   35000.000000
max    31.000000   10.000000  100000.000000

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           88 non-null     object
 1   Age            88 non-null     int64
 2   Qualification  88 non-null     object
 3   Stream         88 non-null     object
 4   Title          88 non-null     object
 5   Experience     88 non-null     int64
 6   Salary         88 non-null     int64
 7   Adress         88 non-null     object
 8   PrefLocation   88 non-null     object
dtypes: int64(3), object(6)
memory usage: 6.3+ KB

In [42]:
data.dtypes

Name             object
Age               int64
Qualification    object
Stream           object
Title            object
Experience        int64
Salary            int64
Adress           object
PrefLocation     object
dtype: object

In [44]:
data['Experience'].max()

10

In [45]:
data.Salary.max()

100000

In [52]:
data[data["Experience"]==data.Experience.max()]

,Name,Age,Qualification,Stream,Title,Experience,Salary,Adress,PrefLocation
7,Joshy Kuruvila,31,MBBS,Medicine,Doctor,10,100000,"K.M.K Jn, N.Paravur Ezhikkara Ernakulam 683513",Ernakulam

In [55]:
data[data["Experience"]==data.Experience.max()][["Name","Title"]]

             Name   Title
7  Joshy Kuruvila  Doctor

In [57]:
data[data["Age"]==data.Age.min()][["Name","Age"]]

               Name  Age
20  Kushil Aggarwal   21

data.shape[0]

In [61]:
num_row=data.shape[0]
print(type(num_row*7.9))
print(num_row)

<class 'float'>
88

In [ ]:
data.fillna(0) #set none/null values to 0

In [65]:
data.fillna({
    "Name": "NA",
    "Salary":0
})
#to set separate values to diff columns with null values

,Name,Age,Qualification,Stream,Title,Experience,Salary,Adress,PrefLocation
0,Neon Prabhakar,22,Bcom,Commerce,Executive,1,12000,"East Kadungallur, Near Uc Colleage Desom Ernak...",Ernakulam
1,R Gopalakrishnan,23,BBA,Administratio,Executive,2,12000,Lakshmi Priya 7 / 39 B Muthu Vayal Kizhakkepur...,Ernakulam
2,Pratik Kala,22,LLB,Lawyer,Advocate,1,13000,"Ledu Vilam, Parambil House, Near Kitchen Zaika...",Ernakulam
3,Nanda Kumar,24,BSc,Software,Developer,3,35000,Munthottu House Vkt Po Tholakkal Kochi Bharath...,Thrissur
4,Siju John,25,MCA,Software,Developer,4,35000,Vidhayathil House Attupuram Airoor Ernakulam A...,Ernakulam
...,...,...,...,...,...,...,...,...,...
83,Jesfy Joseph,24,BSc,Software,Developer,3,35000,Parattu House Thuruthu Aluva Aluva Ernakulam 6...,Thrissur
84,Sanulal,25,MCA,Software,Developer,4,35000,63/Nandanam Edapali Edapally Ernakulam 682024,Thrissur
85,Syamlal,27,BBA,Administratio,Executive,6,12000,Pattathil Ho Vidyanagar Kadavanthra Kadavantha...,Thrissur
86,Sreeram Devarajan,27,MBA,Administratio,Manager,6,25000,"Kalathilparambil House,Elamakara,Puthukalotam ...",Thrissur
87,Usha Raj,25,MBBS,Medicine,Doctor,4,45000,"Vadakedath House,Nethaji Road Aluva Aluva Erna...",Thrissur

In [66]:
g=data.groupby("Stream")

In [67]:
g

In [69]:
india=pd.DataFrame({
    'city':['mumbai','banglore','cochin'],
    'temp':[32,32,30]
    
})

us=pd.DataFrame({
    'city':['New York','Las Vegas','Sanfrancisco'],
    'temp':[20,21,34]
    
})

In [70]:
data.sort_index()

,Name,Age,Qualification,Stream,Title,Experience,Salary,Adress,PrefLocation
0,Neon Prabhakar,22,Bcom,Commerce,Executive,1,12000,"East Kadungallur, Near Uc Colleage Desom Ernak...",Ernakulam
1,R Gopalakrishnan,23,BBA,Administratio,Executive,2,12000,Lakshmi Priya 7 / 39 B Muthu Vayal Kizhakkepur...,Ernakulam
2,Pratik Kala,22,LLB,Lawyer,Advocate,1,13000,"Ledu Vilam, Parambil House, Near Kitchen Zaika...",Ernakulam
3,Nanda Kumar,24,BSc,Software,Developer,3,35000,Munthottu House Vkt Po Tholakkal Kochi Bharath...,Thrissur
4,Siju John,25,MCA,Software,Developer,4,35000,Vidhayathil House Attupuram Airoor Ernakulam A...,Ernakulam
...,...,...,...,...,...,...,...,...,...
83,Jesfy Joseph,24,BSc,Software,Developer,3,35000,Parattu House Thuruthu Aluva Aluva Ernakulam 6...,Thrissur
84,Sanulal,25,MCA,Software,Developer,4,35000,63/Nandanam Edapali Edapally Ernakulam 682024,Thrissur
85,Syamlal,27,BBA,Administratio,Executive,6,12000,Pattathil Ho Vidyanagar Kadavanthra Kadavantha...,Thrissur
86,Sreeram Devarajan,27,MBA,Administratio,Manager,6,25000,"Kalathilparambil House,Elamakara,Puthukalotam ...",Thrissur
87,Usha Raj,25,MBBS,Medicine,Doctor,4,45000,"Vadakedath House,Nethaji Road Aluva Aluva Erna...",Thrissur

Matplotlib

In [73]:
import matplotlib.pyplot as plt
%matplotlib  notebook
plt.get_backend()

'nbAgg'

In [89]:
plt.plot(4,5,"*")

In [92]:
import matplotlib.pyplot as plt
x=[0,9,8]
y=[8,5,6]
plt.plot(x,y,c='r')
plt.show

In [96]:
c=['google','amazon']
r=[100,897]
plt.bar(c,r)
plt.show